a { text-decoration:none; color:inherit;}
.textout {
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}

header{
    position: sticky;
}
nav{
    position: relative;
    display: flex;
	flex-direction : row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    min-width: 952px;
    height: 72px;
    overflow: hidden;
}
.navLeft{
    width: 180px;
    line-height: 72px;
    position: relative;
}
.navRight{
    width: 180px;
    text-align: right;
    line-height: 72px;
    position: relative;
}
.navCenter{
    text-align: center;
    line-height: 72px;
}
.navLeft > img{
    width: auto;
    height: 25px;
}
.navCenter > ul, .navRight > ul{
    font-weight: bold;
    display: inline;
    list-style: none;
}
.navCenter > ul:hover{
    color: #888;
}
.navCenter > ul > li:hover{
    color: #000;
}
.navCenter > ul > li{
    display: inline;
    padding: 0 28px;
}
.navRight > ul > li{
    display: inline-block;
    margin-left: 12px;
    width: 36px;
    height: 36px;
}