
body, div, p, ul, li, a, span {
    font-family: 'Pretendard'
}
a { text-decoration:none; color:inherit;}
.textout {
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}

header{
    position: sticky;
}
nav{
    position: relative;
    display: flex;
	flex-direction : row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
    height: 72px;
    overflow: hidden;
}
/* Nav Left */
.navLeft{
    width: 180px;
    line-height: 72px;
    position: relative;
}
.navLeft > img{
    width: auto;
    height: 25px;
}

/* Nav Center */
.navCenter{
    text-align: center;
    line-height: 72px;
}
.navCenter > ul{
    font-weight: bold;
    list-style: none;
}
.navCenter > ul:hover{
    color: #888;
}
.navCenter > ul > li:hover{
    color: #000;
}
.navCenter > ul > li{
    display: inline-block;
    padding: 0 28px;
}
.navCenter> ul > li > a{
    display: inline-block;
    height: 72px;
}

/* Nav Right */
.navRight{
    width: 180px;
    text-align: right;
}
.navRight > ul{
    list-style: none;
}
.navRight > ul > li{
    display: inline-block;
    margin-left: 12px;
}
.navRight > ul > li > button{
    margin-top: 17px;
    position: relative;
    padding: 6px 0;
    background: none;
    border: none;
    width: 36px;
    height: 36px;
}
.navRight > ul > li > button:hover{
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
    border-radius: 100%;
}
.navRight > ul > li > a > img{
    width: 27px;
}

/* Main */
main{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1296px;
}


main .section1 .today-container{
    position: sticky;
    margin-top: 96px;
}
main .section1 .today-container > h1{
    font-size: 46px;
    font-weight: bold;
    padding-bottom: 15px;
}
main .section1 .today-container > h1:first-child::before{
    position: absolute;
    display: inline-block;
    background-image: url(img/ico_date12.gif);
    background-size: 65px;
    content: '';

    width: 65px;
    height: 65px;
}