@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #5B2386;
}
header{
    margin-top: 30px;
    height: 280px;
    text-align: center;
    background-image: url(img/clock.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 225px;
}
header > img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 480px;
}

.intro{
    text-align: center;
}
.intro h2{
    font-family: 'OTEnjoystoriesBA';
    text-align: center;
    color: #FCD821;
    font-size: 36px;
    margin-bottom: 35px;
}
.intro p{
    display: inline;
    font-family: 'GmarketSansMedium';
    color: #fff;
    font-size: 18px;
    line-height: 28px;

}
.intro p img{ /* quotes */
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 486px;
}
.intro p strong{
    font-size: 20px;
}

.declare{
    margin-top: 80px;
    text-align: center;
}
.declare p{
    font-family: 'GmarketSansMedium';
    color: #fff;
    font-size: 22px;
    line-height: 55px;
}
.declare p:nth-child(2), .declare p:nth-child(3){
    display: inline;
    margin-right: 8px;
}
.declare p input{
    font-family: 'GmarketSansMedium';
    border-radius: 15px;
    border: none;
    font-size: 22px;
    width: 230px;
    height: 52px;
    padding: 0 19px;
}
.declare p input::placeholder{
    color: silver;
}
.btn-container{
    text-align: center;
    margin-top: 95px;
}
.btn-container .btn{
    position: relative;
    cursor: pointer;
    width: 510px;
    padding: 10px 40px;
    font-family: 'GmarketSansBold';
    background-color: #FCEE21;
    font-size: 20px;
    text-align: center;
    color: #5B2386;
    font-weight: bold;
    border-radius: 30px;
    border: none;
}
.btn-container .btn::after{
    /* click icon  */
    cursor: default;
    bottom: -20px;
    right: -73px;
    width: 70px;
    height: 72px;
    position: absolute;
    display: block;
    content: '';
    background-image: url('img/click.png');
}

.off {display: none;}
.load-container {
    margin-top: 130px;
}
.load-container #load-img {
    display: block;
    margin: 0 auto;
    background-image: url(./img/loading.png);
    width: 225px;
    height: 225px;
    animation: rotate 0.8s infinite;
}
@keyframes rotate {
    100% {transform: rotate(1turn)}
}

.result-container{
    text-align: center;
    margin-top: 110px;
}
.result-container h2{
    display: block;
    position: absolute;
    font-size: 1px;
    left:-9999px;
}
.result-container p{
    font-size: 20px;
    color: #fff;
    font-family: 'GmarketSansMedium';
}
.result-container p strong{
    font-family: 'GmarketSansBold';
    font-size: 70px;
}
.result-container > p:last-child{
    margin-bottom: 930px;
}
.result-container .btn{
    display: inline;
    cursor: pointer;
    padding: 10px 40px;
    height: 51px;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    word-break: keep-all;
}
.result-container .yellowBg{
    width: 300px;
    background-color: #FCEE21;
    color: #5B2386;
    margin-right: 7px;
}
.result-container .whiteBg{
    width: 156px;
    margin-left: 7px;
    background-color: #fff;
    color: #5B2386;
}

footer{
    font-family: 'GmarketSansMedium';
    margin-top: 75px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
footer > img{
    width: 125px;
    margin-bottom: 13px;
}

/* mediaquery - 반응형 */
@media screen and (max-width:800px) {
    header > img{
        width: 380px;
    }
    .intro h2{
        font-size: 30px;
    }
    .intro p{
        width: 450px;
        font-size: 16px;
        line-height: 25px;
    }

    .intro p img{
        width: 450px;
    }
    .declare p{
        font-size: 16px;
        line-height: 5px;
    }
    .declare p:nth-child(2), .declare p:nth-child(3){
        display: inline-block;
    }
    .declare p input{
        font-size: 16px;
        width: 200px;
        height: 49px;
    }
    .btn-container{
        margin-top: 45px;
    }
    .btn-container .btn{
        width: 300px;
        word-break: keep-all;
        font-size: 18px;
    }
    .btn-container .btn::after{/* click icon */
        width: 60px;
        height: auto;
    }
    .result-container p{
    font-size: 18px;
    }
    .result-container p strong{
    font-size: 29px
    }
    .result-container .btn{
    padding: 10px 25px;
    font-size: 15px;
    height: 47px;
    }
    .result-container .yellowBg{
        width: 213px;
    }
    .result-container .whiteBg{
        width: 108px;
    }

    footer{
        font-size: 11px;
    }

}

@media screen and (max-width:450px) {
    header{
        height: 130px;
        background-size: 130px;
    }
    header > img{
        width: 240px;
    }
    .intro h2{
        font-size: 26px;
    }
    .intro p{
        font-size: 14px;
        line-height: 15px;
    }
    .intro p strong{
        font-size: 15px;
    }
    .intro p img{
        width: 350px;
    }
    .declare p{
        font-size: 15px;
        line-height: 0px;
    }
    .declare p input{
        font-size: 16px;
        width: 130px;
        height: 42px;
    }
    .btn-container .btn{
        width: 250px;
        font-size: 16px;
    }
    .btn-container .btn::after{/* click icon */
        width: 45px;
        height: auto;
    }
    .result-container p{
        font-size: 15px;
    }
    .result-container p strong{
    font-size: 23px
    }
    footer{
        margin-top: 40px;
        font-size: 10px;
    }
    footer > img{
        width: 100px;
    }

}